@import 'tailwindcss';

body {
	background-color: #1a0d2e;
	color: white;
}

.glass-panel {
	background: rgba(255, 255, 255, 0.05);
	border: 2px solid rgba(255, 255, 255, 0.1);
	border-radius: var(--radius-xl);
	overflow: hidden;
}
